.rec.rec-arrow{
    background:#E0752F;

}

.rec.rec-arrow:hover{
    background:#E0752F;

}

.rec .rec-arrow-left{
    background:#E0752F;

}

.rec .rec-arrow-left:hover{
    background:#E0752F;

}
.rec .rec-arrow-right{
    background:#E0752F;
}

.rec .rec-arrow-right:hover{
    background:#E0752F;
}
